<div class="w-full p-4">
    <mat-table [dataSource]="coachesDataSource" matSort #coachesTable="matSort">

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let coach"> {{coach.firstName}} </mat-cell>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let coach"> {{coach.lastName}} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let coach"> {{coach.email}} </mat-cell>
        </ng-container>

        <!-- Phone Number Column -->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </mat-header-cell>
            <mat-cell *matCellDef="let coach"> {{coach.phoneNumber}} </mat-cell>
        </ng-container>

        <!-- Speciality Column -->
        <ng-container matColumnDef="speciality">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Speciality </mat-header-cell>
            <mat-cell *matCellDef="let coach"> {{coach.speciality}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="coachesTableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: coachesTableColumns;"></mat-row>
    </mat-table>
</div>
