<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
    style="
        background-image: url('assets/images/breadcrumb-bg.jpg');
        background-size: cover;
        background-position: center;
    "
>
    <div
        class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none"
    >
        >
        <!-- Add buttons here -->
        <div class="flex flex-row space-y-6 w-full">
            <!-- User Button -->
            <button
                class="flex flex-col items-center justify-center fuse-mat-button-large w-full mt-6 text-white font-bold py-4 px-6 rounded-lg hover:bg-orange-600"
                [style.background-color]="'#f3630045'"
                [routerLink]="['/sign-upuser']"
            >
                <img
                    src="assets/images/group.png"
                    alt="Coach"
                    class="w-30 h-30 mb-2"
                />
                <span class="text-xs">User</span>
            </button>
            <!-- Coach Button -->
            <button
                class="flex flex-col items-center justify-center fuse-mat-button-large w-full mt-6 text-white font-bold m-3 py-4 px-6 rounded-lg hover:bg-orange-600"
                [style.background-color]="'#f3630045'"
                [routerLink]="['/sign-upcoach']"
            >
                <img
                    src="assets/images/trainer.png"
                    alt="Coach"
                    class="w-30 h-30 mb-2"
                />
                <span class="text-xs">Coach</span>
            </button>
            <!-- Nutritionist Button -->
            <button
                class="flex flex-col items-center justify-center fuse-mat-button-large w-full mt-6 text-white font-bold py-4 px-6 rounded-lg hover:bg-orange-600"
                [style.background-color]="'#f3630045'"
                [routerLink]="['/sign-upnutri']"
            >
                <img
                    src="assets/images/dietitian.png"
                    alt="Coach"
                    class="w-30 h-30 mb-2"
                />
                <span class="text-xs">Nutritionist</span>
            </button>
        </div>
    </div>
    <div
        class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden"
    >
        <!-- Content -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Welcome to</div>
                <div>our community</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                Fuse helps developers to build organized and well coded
                dashboards full of beautiful and rich modules. Join us and start
                building your application today.
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-18.jpg"
                    />
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-11.jpg"
                    />
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-09.jpg"
                    />
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-16.jpg"
                    />
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">
                    More than 17k people joined us, it's your turn
                </div>
            </div>
        </div>
    </div>
</div>
