<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/coaches">Coaches</a>
      <a mat-list-item routerLink="/reservations">Reservations</a>
      <a mat-list-item routerLink="/sessions">Sessions</a>
      <a mat-list-item routerLink="/reserver">Reserver</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Dashboard App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
