<div>
    <h2>Restaurant Management</h2>

    <form [formGroup]="restaurantForm" (ngSubmit)="createOrUpdateRestaurant()">
        <mat-form-field appearance="fill">
            <mat-label>Restaurant Name</mat-label>
            <input
                matInput
                id="nomRestaurant"
                formControlName="nomRestaurant"
            />
            <mat-error *ngIf="restaurantForm.get('nomRestaurant').invalid">
                <small
                    *ngIf="restaurantForm.get('nomRestaurant').errors?.['required']"
                >
                    Restaurant Name is required
                </small>
                <small
                    *ngIf="restaurantForm.get('nomRestaurant').errors?.['maxlength']"
                >
                    Restaurant Name cannot exceed 30 characters
                </small>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Restaurant Address</mat-label>
            <input
                matInput
                id="adresseRestaurant"
                formControlName="adresseRestaurant"
            />
            <geoapify-geocoder-autocomplete
                (placeSelect)="placeSelected($event)"
                [value]="restaurantForm.get('adresseRestaurant')?.value"
            ></geoapify-geocoder-autocomplete>
            <mat-error *ngIf="restaurantForm.get('adresseRestaurant').invalid">
                <small
                    *ngIf="restaurantForm.get('adresseRestaurant').errors?.['required']"
                >
                    Restaurant Address is required
                </small>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Restaurant Image</mat-label>
            <ngx-mat-file-input
                formControlName="imageRestaurant"
                (change)="onFileSelected($event)"
            ></ngx-mat-file-input>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Categorie Restaurant</mat-label>
            <mat-select
                id="categorieRestaurant"
                formControlName="categorieRestaurant"
                multiple
            >
                <mat-option
                    *ngFor="let category of categorieRestaurants"
                    [value]="category._id"
                >
                    {{ category.libelle }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Plats</mat-label>
            <mat-select id="plats" formControlName="plats" multiple>
                <mat-option *ngFor="let plat of plats" [value]="plat._id">
                    {{ plat.nomPlat }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="restaurantForm.invalid"
        >
            {{ isEditing ? "Update" : "Create" }}
        </button>
        <button
            mat-raised-button
            type="button"
            *ngIf="isEditing"
            (click)="cancelEdit()"
        >
            Cancel
        </button>
    </form>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Search by address</mat-label>
            <input
                matInput
                type="text"
                #searchString
                (input)="searchRestaurants(searchString.value)"
            />
        </mat-form-field>
        <button
            mat-raised-button
            type="button"
            (click)="clearSearch(searchString)"
        >
            Clear Search
        </button>
    </div>

    <table mat-table [dataSource]="restaurants">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let restaurant">
                {{ restaurant.nomRestaurant }}
            </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let restaurant">
                {{ restaurant.adresseRestaurant }}
            </td>
        </ng-container>

        <ng-container matColumnDef="categories">
            <th mat-header-cell *matHeaderCellDef>Categories</th>
            <td mat-cell *matCellDef="let restaurant">
                <span *ngFor="let category of restaurant.categorieRestaurant">
                    {{ category.libelle }},
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="plats">
            <th mat-header-cell *matHeaderCellDef>Plats</th>
            <td mat-cell *matCellDef="let restaurant">
                <span *ngFor="let plat of restaurant.plats">
                    {{ plat.nomPlat }},
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let restaurant">
                <button mat-button (click)="editRestaurant(restaurant)">
                    Edit
                </button>
                <button
                    mat-button
                    color="warn"
                    (click)="deleteRestaurant(restaurant._id)"
                >
                    Delete
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
