:host {
    display: block;
    .mat-drawer-container {
        height: 100%;
    }
    .mat-drawer-content {
        padding: 0;
    }
    mat-form-field {
        width: 100%;
    }
    .grid {
        display: grid;
    }
    .grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .gap-6 {
        gap: 1.5rem;
    }
    .col-span-2 {
        grid-column: span 2;
        }
        .h-400 {
        height: 400px;
        }
        .min-h-400 {
        min-height: 400px;
        }
        .max-h-400 {
        max-height: 400px;
        }
        .w-72 {
        width: 18rem;
        }
        }
