<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full">
        <!-- Content -->
        <mat-drawer-content class="flex flex-col">
            <div
                class="flex flex-col flex-auto min-h-full bg-card dark:bg-default"
            >
                <div
                    class="flex flex-wrap items-center pl-4 pr-6 py-3 md:pl-6 border-b"
                >
                    <h2 class="text-2xl font-semibold">Create Admin</h2>
                </div>
                <div class="p-6">
                    <form
                        [formGroup]="adminForm"
                        (ngSubmit)="createAdmin()"
                        class="flex flex-col space-y-4"
                    >
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input
                                matInput
                                formControlName="firstName"
                                required
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input
                                matInput
                                formControlName="lastName"
                                required
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Nickname</mat-label>
                            <input
                                matInput
                                formControlName="nickName"
                                required
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input
                                matInput
                                formControlName="adresse"
                                required
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Birth Date</mat-label>
                            <input
                                matInput
                                [matDatepicker]="picker"
                                formControlName="birthDate"
                                required
                            />
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="picker"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                type="email"
                                formControlName="email"
                                required
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input
                                matInput
                                type="password"
                                formControlName="password"
                                required
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input
                                matInput
                                type="password"
                                formControlName="passwordconfirm"
                                required
                            />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Phone Number</mat-label>
                            <input
                                matInput
                                formControlName="phoneNumber"
                                required
                            />
                        </mat-form-field>

                        <button
                            mat-raised-button
                            color="primary"
                            type="submit"
                            [disabled]="!adminForm.valid"
                        >
                            Create Admin
                        </button>
                    </form>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
