<!-- src/app/profile/profile.component.html -->
<div
    *ngIf="userProfile"
    class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"
>
    <div class="flex flex-col p-6 pb-4">
        <div class="flex items-center justify-between">
            <div class="flex flex-col">
                <div
                    class="mr-4 text-lg font-medium tracking-tight leading-6 truncate"
                >
                    User Profile
                </div>
                <div class="text-secondary font-medium">
                    {{ userProfile.email }}
                </div>
            </div>
        </div>
        <div class="container">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>First Name:</h1>
                    <input [(ngModel)]="userProfile.firstName" />
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Last Name:</h1>
                    <input [(ngModel)]="userProfile.lastName" />
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Nickname:</h1>
                    <input [(ngModel)]="userProfile.nickName" />
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Email:</h1>
                    <input [(ngModel)]="userProfile.email" />
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Role:</h1>
                    {{ userProfile.role }}
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Address:</h1>
                    <input [(ngModel)]="userProfile.adresse" />
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Phone Number:</h1>
                    <input [(ngModel)]="userProfile.phoneNumber" />
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Birth Date:</h1>
                    <input [(ngModel)]="userProfile.birthDate" />
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Active:</h1>
                    {{ userProfile.active ? "Yes" : "No" }}
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Approved:</h1>
                    {{ userProfile.isApproved ? "Yes" : "No" }}
                </mat-card-content>
            </mat-card>
            <button (click)="updateUserProfile()" class="btn btn-primary">
                Update Profile
            </button>
        </div>
    </div>
</div>
