<div class="flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
    <div class="flex flex-col p-6 pb-4">
        <div class="flex items-center justify-between">
            <div class="flex flex-col">
                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Reclamation Numéro</div>
                <div class="text-secondary font-medium">{{ id }}</div>
            </div>
            <div class="ml-2">
                <button
                    class="h-6 min-h-6 px-2 rounded-full bg-hover"
                    mat-button
                    (click)="getComments(data.userReclamation, id)">
                    <span class="font-medium text-sm text-secondary">commentaires en relation  </span>
                </button>
            </div>
        </div>
        <div class="container">

            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Title : </h1>
                    <input matInput [(ngModel)]="data.title">
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Description : </h1>
                    <input matInput [(ngModel)]="data.description">
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Etat : </h1>
                    <input matInput [(ngModel)]="data.etat">
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Status : </h1>
                    <input matInput [(ngModel)]="data.status">
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Email : </h1>
                    <input matInput [(ngModel)]="data.email">
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Numéro de Téléphone : </h1>
                    <input matInput [(ngModel)]="data.numTelReclamation">
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h1>Crée en : </h1>
                    <input matInput [(ngModel)]="data.createdAt" disabled>
                </mat-card-content>
            </mat-card>
            <button mat-button (click)="updateReclamation()">Update</button>
        </div>
    </div>
</div>
{{cmnts[0].description}}
<div
    class="settings-cog fixed flex items-center justify-center right-0 w-10 h-10 shadow-lg rounded-l-lg z-90 cursor-pointer bg-red-600 bg-opacity-90 print:hidden"
    [class.lg:right-0]="config.layout === 'centered' || config.layout === 'material'"
    [class.lg:right-16]="config.layout !== 'centered' && config.layout !== 'material'"
    style="top: 275px"
    (click)="settingsDrawer.toggle()">
    <mat-icon
        class="icon-size-5 text-white animate-spin-slow"
        [svgIcon]="'heroicons_solid:cog'"></mat-icon>
</div>


<fuse-drawer
    class="w-screen min-w-screen sm:w-100 sm:min-w-100 z-999"
    fixed
    [mode]="'over'"
    [name]="'learnDrawer'"
    [position]="'right'"
    #settingsDrawer>

    <div class="flex flex-col w-full overflow-auto bg-card">
        <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
            <mat-icon
                class="icon-size-7 text-current"
                [svgIcon]="'heroicons_solid:cog'"></mat-icon>
            <div class="ml-3 text-2xl font-semibold tracking-tight">Les commentaires en relation</div>
        </div>

    </div>
    <table *ngIf="cmnts.length !== 0">
        <tr>
            <th>ID</th>
        </tr>
        <tr *ngFor="let a of cmnts">
            <td>{{a.description}}</td>
        </tr>
    </table></fuse-drawer>
{{cmnts}}
